.prose {
  @apply text-gray-700 dark:text-gray-400;
}

.prose blockquote {
  @apply font-normal border-l-2 border-gray-200 dark:border-gray-800 dark:text-gray-400;
}

.prose figure {
  @apply md:-mx-6;
}

.prose img {
  @apply w-full rounded-md;
}

.prose a {
  @apply font-normal text-blue-600 no-underline break-words hover:bg-blue-400/10 dark:hover:bg-blue-400/20 dark:text-blue-500 px-1 -mx-1 rounded-md after:content-['_↗'];
}

.prose a code {
  @apply text-blue-600 dark:text-blue-500;
}

.prose th {
  @apply text-gray-600 dark:text-gray-500;
}

.prose table {
  @apply my-2 border border-gray-200 rounded-md text-gray-1000 dark:border-gray-800 dark:text-gray-50;
}

.prose.comment table {
  @apply my-2;
}

.prose thead {
  @apply text-gray-800 dark:text-gray-200;
}

.prose thead th {
  @apply p-2;
  padding-left: 1rem !important;
}

.prose thead th,
.prose tbody th,
.prose tbody td {
  @apply p-2 border-r border-gray-200 dark:border-gray-800;
  padding-left: 1rem !important;
}

.prose tbody tr {
  @apply border-b border-gray-200 dark:border-gray-800;
}

.prose thead tr {
  @apply border-b-2 border-gray-200 dark:border-gray-800;
}

.prose tbody tr:nth-child(2n) {
  @apply bg-gray-50 dark:bg-gray-900;
}

.prose b,
.prose strong {
  @apply font-bold text-gray-900 dark:text-gray-300;
}

.prose hr {
  @apply border-gray-200 dark:border-gray-800;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply font-sans font-bold text-gray-900 dark:text-gray-100;
  scroll-margin-top: 4rem;
}

.prose h1 a,
.prose h2 a,
.prose h3 a,
.prose h4 a,
.prose h5 a,
.prose h6 a {
  @apply font-sans font-bold no-underline text-gray-1000 dark:text-gray-100;
}

.prose h5 {
  @apply mt-12 -mb-3 text-xl;
}

.prose.comment {
  @apply max-w-none;
}

.prose.comment pre {
  @apply px-3 py-2 my-2;
}

/* this is needed to avoid HN comments from overflowing off the right edge of the screen */
.prose p {
  @apply break-words;
  word-break: break-word;
}

.prose.comment p,
.prose.comment ul,
.prose.comment ol {
  @apply m-10;
}

.prose li {
  @apply m-0;
}

.prose.comment p:first-of-type {
  margin-top: 0 !important;
}

.prose.comment p + p {
  margin-top: 0;
}

.prose.comment pre {
  @apply my-3;
}

.prose.comment a {
  @apply break-all;
}

.prose p + p {
  margin-top: 0;
}

.prose code,
.prose pre {
@apply whitespace-pre-wrap;
word-break: break-word;
}


.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.prose .anchor:hover {
  @apply visible no-underline;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose pre {
  @apply max-w-[86vw] border border-gray-200 dark:border-gray-700 dark:bg-gray-900;
}

.prose img {
  /* Don't apply styles to next/image */
  @apply m-0;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}



pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}


div[data-rehype-pretty-code-fragment] pre {
  overflow-x: auto;
  @apply text-sm leading-7 pt-11;
}

div[data-rehype-pretty-code-fragment] code {
  display: grid; /* make highlighted lines span the width of a horizontally-scrollable code block */
}

div[data-rehype-pretty-code-fragment] .syntax-line {
  @apply pl-2 pr-3 border-l-4 border-l-transparent;
}

div[data-rehype-pretty-code-fragment] .syntax-line--highlighted {
  @apply rounded-md border-l-blue-300/60 bg-blue-200/10;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] .syntax-line::before {
  counter-increment: line;
  content: counter(line);
  text-align: right;

  @apply w-4 mr-3 text-white/20;
}

code[data-line-numbers] .syntax-line--highlighted::before {
  @apply text-white/70;
}

p > code,
li > code,
span[data-rehype-pretty-code-fragment],
div[data-rehype-pretty-code-fragment] .syntax-word--highlighted {
  @apply font-mono text-sm rounded-md bg-rose-200/10;
}

p > code,
li > code,
span[data-rehype-pretty-code-fragment] {
  @apply text-blue-200/90;
}

div[data-rehype-pretty-code-title] {
  @apply -mb-14 rounded-md max-w-[80vw] mx-2 px-3 font-mono text-xs text-gray-300 shadow-sm relative  dark:bg-gray-900;
}

.no {
  overflow-x: hidden;
  overflow-y: hidden;
}

.isRequired {
  
  color: red;
}

.glass {
  background:rgba(251, 214, 250, 0.334);
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  border-right: 1px solid rgba(255, 255, 255, 0.09);

 
}

.shadowguy {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 18px 20px;
  
}


.shadoguy {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 16px;
  
}


.conbox {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.boxcon {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 3px 5px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.guy {
  background-color: rgba(151, 151, 152, 0.2);
}

.Typist {
  color: var(--lightest-slate);
  text-align: center;
  font-size: 76px;
  margin-top: -30px;
}
.Typist .Cursor--blinking {
  color:#ff63c3;
  padding-left: 4px;
}

.glass {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  border-radius: 16px;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  

}

.glasss {
  background: rgba(255, 255, 255, 0.03);

 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);

  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.glass2 {
  background: rgba(255, 255, 255, 0.03);
 
 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.glass22 {
  background: rgba(255, 255, 255, 0.03);
 
 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(213, 213, 213, 0.1);
}

.glass3 {
 
 
 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);
  
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.glass1 {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.03);

  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
 
}

.glassy {
  
  background: rgba(0,0,0,0.25);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 10px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 10px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 10px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 10px rgba(0,0,0,0.3);
}

.gla {
-o-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 10px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 10px rgba(0,0,0,0.3);
-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 10px rgba(0,0,0,0.3);
box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 10px rgba(0,0,0,0.3);
}

.glaa {
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25);
-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25);
-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25);
box-shadow: 0 2px 6px rgba(0,0,0,0.2), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25);

}



  .nodots {
   
    padding: 2x;
    z-index: 10;
    overflow-x: hidden;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.9);
    border: 1px solid black;
    background: linear-gradient(to right, rgba(199, 198, 198, 0.237),rgba(197, 196, 196, 0.423));
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
   
    position: relative;
    backdrop-filter: blur(30px);
  }

  .dark .yesdots {
    background: linear-gradient(90deg, #101010 15px, transparent 1%) center,
      linear-gradient(#111111 15px, transparent 1%) center,
      rgba(255, 255, 255, 0.29);
    background-size: 16px 16px;   
  }
  .darker {
    background-color: #0B0B0C;
  }
.projectdark {
  background-color: #0b0b0cec;
}
.litedot {
  background: linear-gradient(90deg, #f9fafb 15px, transparent 1%) center,
  linear-gradient(#f9fafb 15px, transparent 1%) center, rgba(0, 0, 0, 0.24);
background-size: 16px 16px;

}

.bor{
background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdeff971, #ec38bc75, #7403c06b, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdeff96c, #ec38bc75, #7403c059, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
  -webkit-backdrop-filter: brightness(-0.5);
  backdrop-filter: brightness(1);
  border: 2px solid;
}
.borgpurp {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 
  margin: -5px;
  border-radius: inherit;
  border-image: linear-gradient(to left, rgb(116, 58, 213), rgb(213, 58, 157));

}

.bb {
  padding: 2x;
z-index: 40;
overflow-x: hidden;
box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.9);
border: 1px solid black;
background: linear-gradient(to right, rgba(48, 48, 48, 0.2), rgba(39, 39, 39, 0.2));
box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);


backdrop-filter: blur(30px);
}

.ww {
  width: 38.5%
}
.pad {
  padding:0.03rem
}
.pad1 {
  padding:0.07rem
}
.pad2 {
  padding:0.035rem
}

.masked-copy { 
  -webkit-background-clip: text;
  color: transparent !important;
}
.masked-copy h2 { 
  color:  #ffffff;
  display: inline;
  /* Get the font sizes and other features from those set on the parent */
  font:inherit;
}

.projdisp-copy {
  color:  #ffffff;
  display: inline;
  /* Get the font sizes and other features from those set on the parent */
  font:inherit;
}
.big-type { 
  /* Copied almost wholesale from the Apple site CSS; changed the font-stack */
 
    font-size: 1.975rem;
  line-height: 1.0625; /* The height Apple used to tighten up the spacing a bit. */
  /* Nice, chunky, bold! */

    font-family: SF-Pro-Display-Regular, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.md-type {
  font-size: 1rem;
  line-height: 1.5; /* The height Apple used to tighten up the spacing a bit. */
  /* Nice, chunky, bold! */
  font-family: SF-Pro-Display-Rounded, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}
.projdisp-type {
  font-size: 1.275rem;
  line-height: 1.0625; /* The height Apple used to tighten up the spacing a bit. */
  /* Nice, chunky, bold! */

    font-family: SF-Pro-Display-Regular, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.masked-copy p {
  color: rgb(255 255 255 / 0.8);
  display: inline;

  /* Get the font sizes and other features from those set on the parent */
  font:inherit;
}
.dark .backgro {
  background-color: #121217;
}
.dark .bgdark {
 background-color:hsl(0, 0%, 0%);

}

.dark .txdark{
  color:hsl(0, 0%, 0%);
}

.masc {
  color:  #ffffff;
 
}

.toolicon {
  --tw-ring-color: rgb(255 255 255 / 0.1);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-bg-opacity: 1;
    background-color: rgb(5 5 5 / var(--tw-bg-opacity));
}
@media (max-width: 671px) {
  .toolicon {
    --tw-ring-color: rgba(255, 255, 255, 0);
    --tw-ring-offset-shadow: none;
    --tw-ring-shadow: none;
    box-shadow:none;
    --tw-bg-opacity: none;
   background-color: transparent;
  }
}

@media (max-width: 671px) {
  .toolmobicon {
  font-size: 1.3rem;
  margin-left: 0.35rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  
  background-image: none;
  background-color: transparent;

  }
}
@media (max-width: 671px) {
.toolmobtitle {
font-size: 1.1rem;
padding-left: 0.2rem;
}
}
@media (max-width: 671px) {
.toolmob {
font-size: 0.715rem;
background-color: #0b0b0b;
padding: 1px;
margin-right: 0.45rem;

}
}
@media (max-width: 671px) {
  .mbpad {
    padding-top: 1.00rem;
    padding-bottom: 1.00rem;
  }
}
